div.uk-navbar-left > ul.uk-navbar-nav {
    gap: 0;
    margin-left: -50px;
}

div.uk-navbar-left > ul.uk-navbar-nav > li:nth-child(2) {
    margin-left: -40px;
}

.uk-offcanvas-bar .uk-close {
    right: 90%;
}

.price {
    font-family: 'Passion One', cursive;
    font-size: 2rem;
    color: #646464;
}

.uk-card-title {
    font-size: 1.2rem;
}

.uk-card {
    border-radius: 1rem;
}

#form-login {
    padding: 0 15px;
}

#login-info, #no-user {
    border: 1px solid #023E8A;
    border-radius: 4px;
    background-color: #CAF0F8;
    padding: 15px;
}

#login-info p {
    padding: 15px;
    margin: 0;
}

.uk-navbar-dropdown {
    background-color: whitesmoke;
    border-radius: 8px;
}

