body {
    background-color: #FAF9F7;
}

div.uk-navbar-left > ul.uk-navbar-nav {
    gap: 0;
    margin-left: -50px;
}

div.uk-navbar-left > ul.uk-navbar-nav > li:nth-child(2) {
    margin-left: -40px;
}

.uk-offcanvas-bar .uk-close {
    right: 90%;
}

.price {
    left: 2rem;
    font-family: 'Passion One', cursive;
    color: #646464;
}

.uk-card-title {
    font-size: 1.2rem;
}

.uk-card {
    border-radius: 1rem;
}

.uk-card-title {
    bottom: 2rem;
}

.part-detail {
    bottom: 2.5rem;
}

.part-cart {
    right: -90%;
    bottom: 20px;
}
